#bg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  min-width: 100%;
  min-height: 100%;
}

.bg2{
  background-image: url('./images/background.png');
  background-size: cover;
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  max-width: 400px;
  margin: 1%;
  padding: 1%;
  border: 7px;
  border-style: ridge;
  border-color: grey;
}
.error{
  background-color: #FFC1C7;
  border-color: black;
  border-radius: 3px;
  border: 3px;
  font-size: 14px;
  color: #A81B35;
  padding: 3px;
}
 .tos{
  background: none;
  background-color: none;
  padding-left: 5px;
 }
 .logo_button{
   float: left;
 }
 .button{
   background-image: url('./images/back2.png');
   border: 1;
   border-color: white;
   border-radius: 2px;
   margin-top: 5px;
   margin-left: 5px;
   color: white;
   padding: 5px 5px;
 }
 .button2{
   background-image: url('./images/back2.png');
   border: 1;
   border-color: white;
   border-radius: 8px;
   color: white;
   margin-top: 5px;

   padding: 5px 5px;
 }
 .button3{
   background-image: url('./images/back2.png');
   border: 1;
   border-color: white;
   border-radius: 8px;
   color: white;
   padding: 5px 5px;
 }
 .input{
   padding: 12px 20px;
    margin: 4px 0;
 }
.redirects{
  font-style: normal;
  background: none;
  flex: auto;
  border: 1;
  border-color: white;
  font-size: large;
  top: inherit;
}
.signUpPage{
  background-image: url('./images/background.png');
  border: 7px;
  border-radius: 20px;
  border-style: ridge;
  padding: 50px;
}
.navbar-default {
  background-image: url('./images/background.png');
  background-size: cover;
}

.navbar-default .navbar-brand {

  color: #d7e2e9;
  padding: 0;

}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {

  color: #e5dbdb;

}

.navbar-default .navbar-text {

  color: #d7e2e9;

}

.navbar-default .navbar-nav > li > a {

  color: #d7e2e9;

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

  color: #e5dbdb;

}

.navbar-default .navbar-nav > li > .dropdown-menu {

  background-color: #69899f;

}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {

  color: #d7e2e9;

}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {

  color: #e5dbdb;

  background-color: #425766;

}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {

  background-color: #69899f;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {

  color: #e5dbdb;

  background-color: #425766;

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {

  color: #e5dbdb;

  background-color: #425766;

}

.navbar-default .navbar-toggle {

  border-color: #425766;

}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {

  background-color: #425766;

}

.navbar-default .navbar-toggle .icon-bar {

  background-color: #d7e2e9;

}

.navbar-default .navbar-collapse,

.navbar-default .navbar-form {

  border-color: #d7e2e9;

}

.navbar-default .navbar-link {

  color: #d7e2e9;

}

.navbar-default .navbar-link:hover {

  color: #e5dbdb;

}
