
#bg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  min-width: 100%;
  min-height: 100%;
}

#bg2{
  background-image: url('./background.png');
  background-size:cover;
  background-position: top;
  position: fixed;
  border: 10px;
  border-style: ridge;
  border-color: grey;
  left: 0;
  top: 0;
  width: 99%;
  z-index: -5;
}
 #sign{
   position: absolute;
   left: 0;
   top: 50%;
 }
 .logo_button{
   padding: 5px 5px;
   background: none;
   border: 1;
   border-color: white;
   float: left;
   display: inline-block;
 }
 .button{
   background-image: url('./back2.png');
   border: 2;
   border-color: white;
   color: white;
   float: right;
   margin-right: 3px;
   margin-top: 3px;
   margin-bottom: 3px;
   padding: 8px 16px;
   font-size: 16px;
 }
 .button2{
   background-image: url('./back2.png');
   border: 2;
   border-color: white;
   color: white;
   float: left;
   margin-top: 3px;
   margin-bottom: 3px;
   padding: 8px 16px;
   font-size: 16px;
 }
 .input{
   padding: 12px 20px;
    margin: 4px 0;
 }
.redirects{
  background: none;
  border: 1;
  border-color: white;
  float: left;
  padding: 25px 30px;
  font-size: 40px;
}
.signUpPage{
  background-image: url('./background.png');
  margin-top: 15%;
  border: 7px;
  border-radius: 20px;
  border-style: ridge;
  border-color: white;
  margin-left: 40%;
  width: 300px;
  padding: 50px;
}
