#bg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  min-width: 100%;
  min-height: 100%;
}
.hide{
  display: none;
}
.footer{
  background-image: url('./images/background.png');
  position: fixed;
  bottom: .2%;
  right: .3%;
  height: 57px;
  border: 7px;
  padding: 3px;
  border-style: ridge;
  border-color: grey;
  align-items: center;
}
.footerMenu{
  background-image: url('./images/background.png');
  background-size:cover;
  position: fixed;
  height: 40%;
  width: 17%;
  right: .3%;
  bottom: 58px;
  border: 7px;
  border-style: ridge;
  border-color: grey;
}
.menuTitle{
  background-image: url('./images/back2.png');
  height:31px;
  width: 100%;
  font-size: 20px;
  border: 0px;
  border-bottom: 2px;
  border-style: ridge;
  border-color: grey;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 2px;
  padding-bottom: 1px;
}
.userSearch{
  width: 100%;
}
.typeMessage{
  margin-left: 2px;
  position: fixed;
  width: 100%;
  bottom: 66px;
}
.messageText{
  width: 14%;
  height: 30px;
}
.sendButton{
  background-image: url('./images/back2.png');
  border: 1;
  border-color: white;
  border-radius: 2px;
  width: 2.3%;
  color: white;
  padding: 4px 4px;
}
.bg2{
  background-image: url('./images/background.png');
  background-size: cover;
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  max-width: 400px;
  margin: 1%;
  padding: 1%;
  border: 7px;
  border-style: ridge;
  border-color: grey;
}
.bg2_center{
  background-image: url('./images/background.png');
  background-size: cover;
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  align-content: center;
  justify-content: center;
  padding: 1%;
  border: 7px;
  border-style: ridge;
  border-color: grey;
}
.subButton{
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('./images/back2.png');
  border: 1;
  border-color: white;
  border-radius: 8px;
  color: white;
  margin-top: 5px;
  padding: 5px 5px;
}
.error{
  background-color: #FFC1C7;
  border-color: black;
  border-radius: 3px;
  border: 3px;
  font-size: 14px;
  color: #A81B35;
  padding: 3px;
}
.center{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.centerText{
  text-align: center;
}
.centerTextWithBack{
  background-image: url('./images/background.png');
  background-size:auto;
  width: 200px;
  border:6px;
  border-style:groove;
  font-family:serif;
  border-color: white;
  border-radius: 10px;
  text-align: center;
  margin-right:auto;
  margin-left: auto;
}
 .tos{
  background: none;
  background-color: none;
  padding-left: 5px;
 }
 .logo_button{
   float: left;
 }
 .button{
   background-image: url('./images/back2.png');
   border: 1;
   border-color: white;
   border-radius: 2px;
   margin-top: 5px;
   margin-left: 5px;
   color: white;
   padding: 5px 5px;
 }
 .iconButton{
    background-image: url('./images/background.png');
    border: 1;
    height: auto;
    border-color: grey;
    border-radius: 2px;
    float: right;
 }
 .quarterLeft{
   margin-left: 25%;
 }
 .quarterRight{
   margin-right: 25%;
 }
 .button2{
   background-image: url('./images/back2.png');
   border: 1;
   border-color: white;
   border-radius: 8px;
   color: white;
   margin-top: 5px;
   padding: 5px 5px;
 }
 .button3{
   background-image: url('./images/back2.png');
   border: 1;
   border-color: white;
   border-radius: 8px;
   color: white;
   padding: 5px 5px;
 }
 .input{
   padding: 12px 20px;
    margin: 4px 0;
 }
.redirects{
  font-style: normal;
  background: none;
  flex: auto;
  border: 1;
  border-color: white;
  font-size: large;
  top: inherit;
}
.signUpPage{
  background-image: url('./images/background.png');
  border: 7px;
  border-radius: 20px;
  border-style: ridge;
  padding: 50px;
}
.navbar-default {
  background-image: url('./images/background.png');
  background-size: cover;
}

.navbar-default .navbar-brand {

  color: #d7e2e9;
  padding: 0;

}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {

  color: #e5dbdb;

}

.navbar-default .navbar-text {

  color: #d7e2e9;

}

.navbar-default .navbar-nav > li > a {

  color: #d7e2e9;

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

  color: #e5dbdb;

}

.navbar-default .navbar-nav > li > .dropdown-menu {

  background-color: #69899f;

}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {

  color: #d7e2e9;

}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {

  color: #e5dbdb;

  background-color: #425766;

}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {

  background-color: #69899f;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {

  color: #e5dbdb;

  background-color: #425766;

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {

  color: #e5dbdb;

  background-color: #425766;

}

.navbar-default .navbar-toggle {

  border-color: #425766;

}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {

  background-color: #425766;

}

.navbar-default .navbar-toggle .icon-bar {

  background-color: #d7e2e9;

}

.navbar-default .navbar-collapse,

.navbar-default .navbar-form {

  border-color: #d7e2e9;

}

.navbar-default .navbar-link {

  color: #d7e2e9;

}

.navbar-default .navbar-link:hover {

  color: #e5dbdb;

}
